<!-- Course controller launch file

 -->
<launch>
    <!-- Load controller parameters -->
    <rosparam command="load" file="$(find rs750_controller)/config/course_controller.yaml" />

    <!-- Launch the course control node -->
    <node pkg="rs750_controller" type="course_controller" name="course_controller"
        respawn="false" output="screen" >
    </node>
   
</launch>