<!-- Course controller launch file

 -->
<launch>
    <!-- Load controller parameters -->
    <rosparam command="load" file="$(find rs750_controller)/config/course_controller.yaml" />

    <!-- Launch the course control node -->
    <node pkg="rs750_controller" type="course_controller_node" name="course_controller_node"
        respawn="false" output="screen" >
        <remap from="speed" to="course/speed" />
        <remap from="yaw" to="course/yaw" />
        <remap from="rpy" to="imu/rpy/filtered" />
        <remap from="cmd_vel" to="cmd_vel_unscaled" />
    </node>
   
</launch>