<!-- Launch Gazebo and spawn the robot model. 
 -->
<launch>
    <arg name="model" default="$(find rs750_description)/urdf/rs750.urdf.xacro"/>
    <arg name="debug" default="false"/>    
    <arg name="extra_gazebo_args"
        default="--server-plugin libRegisterSensorsPlugin.so
                 --gui-plugin libRegisterSensorsPlugin.so"
    />
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="recording" default="false"/>
    <arg name="verbose" default="false"/>

    <!-- Launch Gazebo -->
    <include file="$(find asv_sim_gazebo)/launch/empty_world.launch">
        <arg name="world_name" value="$(find asv_wave_sim_gazebo)/worlds/ocean.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="physics" value="$(arg physics)"/>
        <arg name="recording" value="$(arg recording)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- Spawn the model -->
    <include file="$(find rs750_gazebo)/launch/rs750_spawn.launch">        
        <arg name="model" value="$(arg model)"/>
    </include>

</launch>
