<?xml version="1.0" ?>
<!-- 
  Copyright (C) 2020  Rhys Mainwaring

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!--  xacro macros for IMU sensor (dimensions for SparkFun BNO080).

 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="camera_link"> 
        <link name="camera_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="0.031 0.026 0.005"/>
                </geometry>
                <material name="green" />
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="0.031 0.026 0.005"/>
                </geometry>
            </collision>
            <xacro:solid_cuboid_inertial rpy="0 0 0" xyz="0 0 0"
                mass="0.004" x="0.031" y="0.026" z="0.005" />
        </link>

        <joint name="camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-math_pi_over_2} 0 ${-math_pi_over_2}"/>
            <parent link="camera_link"/>
            <child link="camera_link_optical"/>
        </joint>

        <link name="camera_link_optical"/>

        <gazebo reference="camera_link">
            <material>Gazebo/Green</material>
            <sensor type="camera" name="camera">
                <always_on>1</always_on>>
                <update_rate>30.0</update_rate>
                <camera name="camera">
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>800</width>
                    <height>800</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                </camera>
                <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>
                    <cameraName>camera</cameraName>
                    <imageTopicName>rgb/image_raw</imageTopicName>
                    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                    <frameName>camera_link_optical</frameName>
                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
            </sensor>
        </gazebo> 

    </xacro:macro>

    <xacro:macro name="camera_joint" params="x y z yaw" > 
        <joint name="camera_joint" type="fixed">
            <origin rpy="0 0 ${yaw}" xyz="${x} ${y} ${z}"/>
            <parent link="base_link" />
            <child link="camera_link" />
        </joint>

        <gazebo reference="camera_joint">
        </gazebo>
    </xacro:macro>

</robot>
