<?xml version="1.0" ?>
<!-- 
  Copyright (C) 2020  Rhys Mainwaring

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!--  xacro macros for magnetic sensor (dimensions for SparkFun BNO080).

 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="magnetic_link"> 
        <link name="magnetic_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="0.031 0.026 0.005"/>
                </geometry>
                <material name="green" />
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="0.031 0.026 0.005"/>
                </geometry>
            </collision>
            <xacro:solid_cuboid_inertial rpy="0 0 0" xyz="0 0 0"
                mass="0.004" x="0.031" y="0.026" z="0.005" />
        </link>

        <!--
        <gazebo reference="magnetic_link">
            <sensor type="magnetometer" name="magnetic_sensor">
                <always_on>1</always_on>>
                <update_rate>100.0</update_rate>
                <visualize>true</visualize>
                <magnetometer name="mag">
                </magnetometer>
            </sensor>
        </gazebo>
        -->

        <gazebo>
            <plugin name="magnetic_plugin" filename="libhector_gazebo_ros_magnetic.so">
                <updateRate>10.0</updateRate>
                <bodyName>magnetic_link</bodyName>
                <frameId>magnetic_link</frameId>
                <topicName>sensors/magnetic</topicName>
                <offset>0 0 0</offset>
                <drift>0.0 0.0 0.0</drift>
                <gaussianNoise>1.3e-2 1.3e-2 1.3e-2</gaussianNoise>
            </plugin>
        </gazebo>

    </xacro:macro>

    <xacro:macro name="magnetic_joint" params="x y z yaw" > 
        <joint name="magnetic_joint" type="fixed">
            <origin rpy="0 0 ${yaw}" xyz="${x} ${y} ${z}"/>
            <parent link="base_link" />
            <child link="magnetic_link" />
        </joint>

        <gazebo reference="magnetic_joint">
            <!-- <preserveFixedJoint>true</preserveFixedJoint> -->
        </gazebo>
    </xacro:macro>

</robot>
