<?xml version="1.0" ?>
<!-- Launch rqt with a robot monitoring perspective -->
<launch>
    <arg name="rqt_config" default="$(find rs750_viz)/config/robot.perspective" />

    <group ns='rqt'>
        <node pkg="rqt_gui" type="rqt_gui"  name="rqt_gui" args="--perspective-file $(arg rqt_config)">
        </node>    
    </group>
</launch>
