<?xml version="1.0" ?>
<!-- Launch rqt_image_view with the robot camera topic-->
<launch>
    <arg name="image" default="/camera/rgb/image_raw" />

    <node pkg="rqt_image_view" type="rqt_image_view"  name="rqt_image_view">
        <param name="image" type="string" value="$(arg image)" />
    </node>    
</launch>
